<html>
    <head>
        <title>Unify</title>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    </head>
    <body>
       <div class="ui fixed two item inverted menu">
           <div class="ui container">
                <a class="header item" href="/"><i class="terminal icon"> </i> Unify</a>
                <a href="/blogs/new" class="item">New Post</a>
           </div>
           
       </div>