i.icon {
    font-size: 2em;
}

.container.main {
    margin-top: 7.0em;
}

#delete-button {
    display: inline;
}

.paragraph {
    margin-bottom: 2em;
}

.custom {
    margin-bottom: 9px;
    width: 100%;
}